.container{
    width: 100%;
    min-height: 100vh;
    margin-right: 0%;
    margin-left: 0%;
    box-sizing: border-box;
    overflow: hidden;
}.navbar{
    width: 100%;
    display: flex;
    align-items: center ;
}
    .logo{
        width: 50px;
        cursor: pointer;
        margin: 30px ;
    }.menu-icon{
        width: 25px;
        cursor: pointer;
        margin: 30px;
        display: none;
    }
    nav{
        flex: 1;
        text-align: right;
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: 30px;
    }
    nav ul li a{
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    nav ul li a:hover{
        color: crimson;
    }
    button{
        width: 140px;
        border: 0;
        padding: 12px 10px;
        outline: none;
       color: #fff;
       background: linear-gradient( to right, #f87fa1, #ff3527);
       border-radius: 10px;
       cursor: pointer;
       transition: width 0.5s;
    }    
    button:hover{
        width: 180px;
    }
    .catt{
        margin: 20px;

    }
  .side{
    float: left;
  }
  .col1{
    float: right;
    position: relative;
    right: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .col1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient( #ec8143, #fa1403);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
   top: 150px;
   left: 200px;
    
}

.ends{
    display: block;
    position: relative;
   left: 600px;
   top: 200px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: none;
}
.mail{
    color:white;
}
.tele{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
.telegram{
    color: white;
}
.com{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.comm{
    color: white;
}
.botom{
    align-items: center;
    justify-content: center;
    
}
.bottom{
    background-color: black;
   display: flex;
}
.COMPANY{
    background-color: black;
}

.SOLO{
    position: absolute;
    }
 
  @media only screen and (max-width:700px){
    .row{
        display: flex;
    }
    .col1{
position: relative;
left: -120px;
top: 630px;
    }
    .col2{
        position: relative;
        top: 200px;
        left: -70px;
        
    }
    
    nav ul{
        width: 100%;
        background:  linear-gradient( #ec8143, #fa1403);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        border-radius: 10px;
        width: 100px;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }

    #menulist{
        overflow: hidden;
        transition: 0.5s;
    }
    .board{
        width: 200px;
        display: block;
    }
  }